@import url(pub/public.css);

/* 바디 부분*/

#book-detail-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book-detail-div {
    width: 75%;
    height: 60%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

#book-detail-img-div {
    /*flex-grow: 1;*/
    margin: 10px;
    padding: 20px;
}

#detail-img {
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 20px;
}

#book-detail-tc {
    width: 40%;
    height: 40%;
    margin: 20px;
    padding: 10px;
}

#detail-title {
    background-color: white;
    width: 50px;
    height: 100px;
}

#detail-content {
    background-color: white;
    width: 600px;
    height: 200px;
    margin-top: 20px;
}

#detail-content > i{
    cursor: pointer;
    margin-left: 550px;
    font-size: 30px;
}

/*파트 선택 부분 */

<<<<<<< Updated upstream
#part-section, #comment-section {
=======
#part-section{
>>>>>>> Stashed changes
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#part-section > #part-selection{
    background-color: lightgrey;
    width: 75%;
    height: 80%;
}



.part {
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px;
    padding: 40px;
    font-size: 30px;

}

.part p, .part button {
    margin-left: 10px;
}

.part > button{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}



/* 댓글 부분 */


<<<<<<< Updated upstream
#comment-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
=======

#comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
>>>>>>> Stashed changes
}

#comment-div {
    width: 75%;
<<<<<<< Updated upstream
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.comment {
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
=======
    height: 60%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

#user-commenet-div{

}


.comment {
    background-color: white;
    align-content: center;
    margin: 30px;
>>>>>>> Stashed changes
}

.comment-author {
    font-weight: bold;
}

<<<<<<< Updated upstream
.comment-like {

=======
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-input {
    flex: 1;
    border: 1px solid black;
    background-color: transparent;
    font-size: 20px;
    padding: 0;
}

.comment-like {
    color: #ff6b6b;
>>>>>>> Stashed changes
    cursor: pointer;
}











