@import url(pub/public.css);

/* 바디 부분*/

#book-detail-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book-detail-div {
    width: 75%;
    height: 60%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

#book-detail-img-div {
    flex-grow: 1;
}

#detail-img {
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 20px;
}

#book-detail-tc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#detail-title {
    background-color: white;
    width: 600px;
    height: 100px;
}

#detail-content {
    background-color: white;
    width: 600px;
    height: 200px;
    margin-top: 20px;
}

#detail-content > i{
    cursor: pointer;
    margin-left: 450px;
}

/*파트 선택 부분 */

#part-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#part-section > #part-selection{
    background-color: lightgrey;
    width: 75%;
    height: 80%;
}

.part{
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    margin: 30px;
    padding: 40px;
    font-size: 20px;
}

.part p, .part button {
    margin-left: 10px;
}

.part > button{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}

/* 댓글 부분 */

/*#comment-section > #comment-div {*/
/*    width: 70%;*/
/*    height: 30%;*/
/*    background-color: white;*/
/*    position: absolute;*/
/*    bottom: 10px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    margin-top: 20px;*/
/*}*/








