@import "public.css";


main{
    width: 50vw;
    min-width: 300px;
    margin: 0 auto;
}

section{
    border: 2px solid black;
    border-radius: 6px;
    margin: 30px 0;
}

section > span{
    display: block;
    padding: 15px 20px;
    border-bottom: 2px solid black;
    font-size: var(--medium-font-size);
    font-weight: bold;
    background-color: aliceblue;
}

.find-div{
    padding: 5px 20px;
}

.find-title{
    display: block;
    margin: 15px 0;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}

input{
    display: block;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid black;
}

/* number button remove */
input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type=email]{
    border-top: none;
}

button{
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}