@import url(pub/public.css);



/* 엠블라 캐러셀 적용 */
#main-slide-section > img{
    width: 50%;
    height: 50%;
    display: block;
    align-items: center;
    justify-content: center;
}

.main-slide {
    overflow: hidden;
    border: 1px;
}
.embla__container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.embla__slide {
    border: black;
    border-radius: 2px;
    flex: 0 0 30%;
    list-style-type: none;
    height: 50%; /* 원하는 높이로 설정 */
}

/*************************************************/

/* e-book main 부분 */

#ebook-main-section{
    top: 30px;
    padding: 20px;
}

#ebook-main-section > .book-category-div{
    margin-bottom: 40px;
    /*display: flex;*/
}

#ebook-main-section > .book-category-div > .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ebook-main-section > .book-category-div > .category > div {
    width: 200px;
    height: 300px;
    flex: 0 0 calc(16.66% - 10px);
    margin-bottom: 20px;
}

.category > div {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.category > div.action,
.category > div.romance,
.category > div.oriental,
.category > div.fantasy {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}