@import "pub/public.css";
*{
    font-size: var(--font-size-large);
}

/************ 메인 **************/
#main-side-section{
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    width: 50%;
}



/**************top 컨테이너**************/
#top-container{
    position: relative;
    margin-top: 20px;
    background-color: #ececec;
    border: 2px solid black;
    padding: 20px 10px;
}
/************홈버튼,회차이동 영역*************/
.top-interaction-class > section{
    top: 50%;
    transform: translateY(-50%);
}
.top-interaction-class > section:first-child{
    position: absolute;
    left: 0;
}
.top-interaction-class > section:last-child{
    position: absolute;
    right: 0;
}
.top-interaction-class > section:nth-child(2){
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50% );
}
.title-section i{
    font-size: 15px;
}




.title{
    width: 100%;
}




/******************뷰어 영역 *******************/
#view-side-container{
    display: flex;
    align-items: center;
    background-color: #ececec;
    width: 100%;
}


#viewer-section{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    height: 1000px;
    background-color: #eed6ff;
    align-items: center;
    text-align: center;
}
