<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>resetPassword</title>
    <link rel="stylesheet" href="../../static/css/pub/public.css" th:href="@{/css/pub/public.css}">
    <link rel="stylesheet" href="../../static/css/user/resetpassword.css" th:href="@{/css/user/resetpassword.css}">
</head>
<body>
    <main>
        <form>
            <section>
                <span>비밀번호 재설정</span>
                <a href="/user/login">X</a>
            </section>
            <div class="find-div">
                <label>
                    <input type="text" id="find-pw-id" placeholder="아이디입력">
                    <input type="text" id="id-input-section" placeholder="이름 입력">
                    <input type="email" id="find-pw-email" placeholder="이메일입력">
                </label>
                <div>
                    <span>임시 비밀번호 : </span>
                    <span>이거</span>
                </div>
                <button type="button" id="find-pw-btn">이메일 전송하기</button>
            </div>
        </form>
    </main>
</body>
</html>