@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Katuri';
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --font-size-XXsmall : 10px;
    --font-size-Xsmall : 13px;
    --font-size-small : 15px;
    --font-size-midium : 17px;
    --font-size-large : 19px;
    --font-size-Xlarge : 21px;
    --font-size-XXlarge : 23px;
    --font-size-XXXlarge : 25px;

    --color1 : #402F2B;
    --color2 : #73493F;
    --color3 : #A6705D;
    --color4 : #D9AE96;
    --color5 : #F2E5D5;

    --main-width : 1700px;
    --main-margin : 0 auto;
}


