


@font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Katuri';
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --font-size-XXsmall : 10px;
    --font-size-Xsmall : 13px;
    --font-size-small : 15px;
    --font-size-medium : 17px;
    --font-size-large : 19px;
    --font-size-Xlarge : 21px;
    --font-size-XXlarge : 23px;
    --font-size-XXXlarge : 25px;

    --color1 : #d3d3d3;
    --color2 : #948f8f;
    --color3 : #e3e3e3;
    --color4 : #ffffff;
    --color5 : #939393;

    --main-width : 1700px;
    --main-margin : 0 auto;
}


