<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>내 정보 페이지</title>
    <link rel="stylesheet" href="public.css">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
    <script src="../static/js/mypage.js" defer></script>
</head>
<body>
    <main>
        <section>
            <section id="my-info-section">
                <h1>내 정보</h1>
                <section id="my-info-detail-section">
                    <div id="my-info-image-section">
                        <div>
                            <img src="https://cdn.inflearn.com/public/users/thumbnails/759418/09bcc1e5-b03d-46ed-8c6b-4aa283267e28" alt="">
                        </div>
                    </div>
                    <div id="my-info-span-section">
                        <div>
                            <span>이름 : </span>
                            <span>홍길동</span>
                        </div>
                        <div>
                            <span>아이디 : </span>
                            <span>korea</span>
                        </div>
                        <div>
                            <span>닉네임 : </span>
                            <span>라이언</span>
                        </div>
                        <div>
                            <span>이메일 : </span>
                            <span>99999@naver.com</span>
                        </div>
                    </div>
                </section>
            </section>

            <section id="cash-section">
                <div>
                    <span>보유 캐시 : </span>
                    <span>200원</span>
                </div>
                <div>
                    <a href="/cashcharge"><button id="chargeBtn">충전</button></a>
                </div>
            </section>

            <section id="my-info-like-list">
                <div id="like-list-name-section">
                    <div>
                        <button>좋아요 목록</button>
                    </div>
                    <div>
                        <button>구매 목록</button>
                    </div>
                    <div>
                        <button>댓글 목록</button>
                    </div>
                    <div>
                        <button>댓글 좋아요 목록</button>
                    </div>
                </div>
                <div>
                    <section id="like-list-section">
                        <a class="like-list">
                            <div>
                                이미지<img src="" alt="">
                            </div>
                            <div>
                                <div>
                                    <span>1. 이것이 자바다</span>
                                </div>
                                <div>
                                    <span>저자 : 신용권, 임경균</span>
                                    <span>출판 미디어 2024.04.01</span>
                                </div>
                            </div>
                        </a>
                        <a class="like-list">
                            <div>
                                이미지<img src="" alt="">
                            </div>
                            <div>
                                <div>
                                    <span>1. 이것이 자바다</span>
                                </div>
                                <div>
                                    <span>저자 : 신용권, 임경균</span>
                                    <span>출판 미디어 2024.04.01</span>
                                </div>
                            </div>
                        </a>
                    </section>
                    <section id="content-like-list-section">
                        <a class="content-like-list">
                            <div class="img-section">
                                <img src="" alt="">
                            </div>
                            <div class="content-box">
                                <div class="nickname-section">
                                    <span>유저 닉네임</span>
                                </div>
                                <div>
                                    <div class="content-section">
                                        <span>댓글 내용</span>
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </section>
                </div>
            </section>
        </section>

    </main>
</body>
</html>