main{
    width: 1000px;
    margin: var(--main-margin);
}

main > section{
    margin: 0 auto;
    padding: 40px 0;
    background-color: rgba(242,229,213,0.7);
}

#my-info-section{
    margin: 10px 50px;
}

#my-info-section > h1{
    font-size: var(--font-size-XXXlarge);
    padding: 40px 60px;
}

#my-info-detail-section{
    display: flex;
}

#my-info-image-section{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-info-image-section > div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(170,170,170,0.4);
}

#my-info-image-section img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
#my-info-span-section{
    height: 300px;
    padding: 70px;
    background-color: rgba(217,174,150,0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
#my-info-span-section div{
    margin: 0 10px;
}

/*******************************************/

#cash-section{
    margin: 100px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(217,174,150,0.3);
}
#cash-section div{
    margin: 0 30px;
}
#cash-section button{
    background-color: var(--color4);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/*********************************************/

#my-info-like-list{
    display: flex;
    flex-direction: column;
}

#like-list-name-section{
    display: flex;
    padding: 0 75px;
}

#like-list-name-section div{
    width: 100%;
    text-align: center;
    background-color: var(--color4);
}

#like-list-name-section button{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background-color: var(--color4);
    border: none;
    cursor: pointer;
}
#like-list-name-section button:hover{
    opacity: 0.7;
}
#like-list-name-section button:active{
    opacity: 0.7;
    background-color: var(--color3);
}

/********************************************/

#like-list-section{
    background-color: var(--color5);
    margin: 0 75px;
    padding: 50px 30px;
}
.like-list{
    display: flex;
    margin: 20px 0;
    padding: 30px;
    /*background-color: #F2E5D5;*/
}
.like-list > div{
    align-items: center;
}
.like-list > div:first-child{
    width: 100px;
    height: 150px;
    margin-right: 20px;
    background-color: #A6705D;
}

.like-list > div:nth-child(2) > div{
    margin: 25px 0;
}

/****************************************/

#content-like-list-section{
    background-color: var(--color5);
    margin: 0 75px;
    padding: 50px 30px;
}
.content-like-list{
    display: flex;
    margin: 20px 0;
    padding: 30px;
    background-color: #F2E5D5;
}

.img-section{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #402F2B;
}
.img-section img{
    background-position: center;
    background-size: cover;
}

.content-box{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.content-box > div:first-child{
    margin-bottom: 15px;
}

.content-box > div:nth-child(2){
    border: 1px solid black;
    width: 650px;
}

.content-section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.content-section i{
    margin: 10px;
    color: red;
    cursor: pointer;
}

.content-section span{
    margin: 10px;
    font-size: var(--font-size-Xsmall);
}