*{
    font-size: var(--font-size-large);
}

/************ 메인 **************/



/**************top 컨테이너**************/
#top-container{
    height: 70px;
    border-bottom: 1px solid black;
    padding: 15px 0;
}
/************홈버튼,회차이동 영역*************/
.top-interaction-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--main-width);
    margin: 0 auto;
}
.top-interaction-class > section:first-child{
    display: flex;
    align-items: center;
}
.top-interaction-class > section:first-child i{
    margin: 0 20px;
    font-size: var(--font-size-XXXlarge);
    cursor: pointer;
}
.top-interaction-class button{
    padding: 3px 7px;
    cursor: pointer;
}
.top-interaction-class > section:nth-child(2){
    display: flex;
    justify-content: center;
}

.top-interaction-class > section:last-child select{
    margin: 0 20px;
}

.next-chapter-class-select,.page-button{
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
}
.title{
    padding: 10px;
}


/******************뷰어 영역 *******************/
#main-section{
    width: var(--main-width);
    margin: 1px auto;
}

#view-side-container{
    width: 100%;
    text-align: center;
}
#view-side-container button{
    position: absolute;
    background-color: white;
    border: none;
    cursor: pointer;
}
#view-side-container button > i{
    font-size: var(--font-size-large);
    padding: 10px;
}

#viewer-section\ slide{
    margin: 0 auto;
    width: 100%;
}

#viewer-section\ slide img{
    width: 745px;
}

#left-arrow-section\ slide{
    left: 150px;
    top: 60%;
    transform: translateY(-50%);
}
#right-arrow-section\ slide{
    right: 150px;
    top: 60%;
    transform: translateY(-50%);
}


button:hover{
    opacity: 50%;
}
i:hover{
    opacity: 50%;
}

/********************************************************************/

#viewer-section\ scroll{
    margin: 0 auto;
    width: 100%;
}

#viewer-section\ scroll img{
    width: 100%;
}

#left-arrow-section\ scroll{
    display: none;
}

#right-arrow-section\ scroll{
    display: none;
}

/*********************************************/
.view-pagebar-section{
    display: none;
}

.view-pagebar-section[active]{
    position: absolute;
    display: flex;
    background-color: #e0e0e0;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 80px;
    border-radius: 5px;
    width: 100%;
}

.view-page-bar-btn > button{
    border-radius: 10px;
    padding: 10px;
}
.curt-page{
    border-radius: 5px;
}

.view-page-bar-number{

}
.view-page-bar-number > label, .view-page-bar-number .total-page{
    display: inline-block;
    width: 60px;
    text-align: center;
}
.view-page-bar-number input{
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px;
    outline: unset;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.page-bar-container{
    position: absolute;
    display: flex;
    align-items: center;
    width: 400px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.page-bar-parent{
    flex: 1;
    width: 100%;
    height: 30%;
    background-color: black;
}
.page-bar-child{
    position: absolute;
    height: 150%;
    transform: translate(-100%, -35%);
    width: 5px;
    /*height: 15px;*/
    background-color: #2d2626;
}