<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../../static/css/public/public.css" th:href="@{/css/public/public.css}">
    <link rel="stylesheet" href="../../static/css/user/login.css" th:href="@{/css/user/login.css}">
    <script src="https://kit.fontawesome.com/3d4b55021f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <main>
        <h1>로그인</h1>
        <form>
            <section id="login-info-section">
                <label id="id">
                    <i class="fa-solid fa-user"></i>
                    <input type="text">
                </label>
                <label id="password">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password">
                    <i class="fa-solid fa-eye"></i>
                </label>
            </section>
            <section id="login-id-remember">
                <label>
                    <input type="checkbox">
                    <span>아이디 저장</span>
                </label>
            </section>
                <button id="login-btn">로그인</button>
        </form>
        <section id="nav-section">
            <a href="#">아이디 찾기</a>
            <a href="#">비밀번호 재설정</a>
            <a href="/user/register">회원가입</a>
        </section>
        <section id="simple-login-section">
            <h4>간편 로그인</h4>
            <div>
                <a href="#"><img src="../../static/icons/kakao-login.png"/></a>
                <a href="#"><img src="../../static/icons/naver-login.png"/></a>
                <a href="#"><img src="../../static/icons/google-login.png"/></a>
            </div>

        </section>
    </main>
    <footer></footer>
</body>
</html>