<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>HEADER</title>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/d19fdaba43.js"></script>
    <link rel="stylesheet" href="../../static/css/public/header.css" th:href="@{/css/public/header.css}">
    <link rel="stylesheet" href="../../static/css/public/public.css" th:href="@{/css/public/public.css}">
    <script src="../../static/js/public/header.js" th:src="@{/js/public/header.js} " defer></script>

 
</head>
<body>
<!--헤더 부분-->
<header th:fragment="header">
    <section>
        <div id="e-book-category-div">
            <a th:href="@{/main}">
                <img class="img" src="../../static/icons/bookimage.png" th:src="@{/icons/bookimage.png}"/>
            </a>
            <a class="genre" th:href="@{/main(genre=소설)}">소설</a>
            <a class="genre" th:href="@{/main(genre=만화)}">만화</a>
        </div>

        <div id="header-user-div">
            <form th:action="@{/searchbook}" method="get" class="search-form">
                <label for="search-text" class="search-label">
                    <input id="search-text" type="text" name="bookTitle" required />
                    <button id="search" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </label>
                <section class="search-section">
                    <ol th:each="books : ${book}" class="search-view">
                        <li><a th:href="${books.bookTitle}">책 제목 1번 예시</a></li>
                        <li><span>책 제목 2번 예시</span></li>
                        <li><span>책 제목 3번 예시</span></li>
                    </ol>
                </section>
            </form>
            <section  id="my-page-section">
                <div id="my-page-section-div">
                    <button id="user"><i class="fa-solid fa-user"></i></button>
                </div>
                <section id="my-page-section-section">
                    <div sec:authorize="isAuthenticated()" class="my-page-div">
                        <a href="/mypage"><h4 th:text="${#authentication.principal.userId}">내 정보</h4></a>
                    </div>
                    <h4 sec:authorize="isAuthenticated()" class="my-cash">현재 보유 캐시</h4>
                    <div sec:authorize="isAuthenticated()" class="my-page-point">
                        <h4  th:text="${#authentication.principal.userCash}">100P</h4>
                        <button sec:authorize="isAuthenticated()" id="cash-charge" th:onclick="openCashChargePage()">충전</button>
                    </div>
                    <div class="logout-div">
                        <a href="/user/login">
                            <div sec:authorize="!isAuthenticated()" id="login-btn">로그인</div>
                        </a>
                        <div>
                            <form th:action="@{/logout}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                <button type="submit" sec:authorize="isAuthenticated()" id="logout-btn">로그아웃</button>
                            </form>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </section>
</header>
</body>
</html>